extends main_pug
block head
  head
    title="homepage"
block content
  //user enters her/his name on the site’s landing page (/).
  h3 SER421 Survey Match!
  form(method="POST" action="/survey/1")
    label(for="username") Username:
    input(type="text" name="username")
    br
    input(type="submit" value="survey")
    input(type="submit" value="match" formaction="/match")

    // DONE
